{{!< default}}

{{#post}}
<article class="post-content {{post_class}}">

    <header class="post-content-header gh-canvas">
        <h1 class="post-content-title">{{title}}</h1>
        {{!-- {{#if custom_excerpt}} // Disable due to being used for map details
            <p class="post-content-excerpt">{{custom_excerpt}}</p>
        {{/if}} --}}
        {{> "feature-image"}}
    </header>


    <div class="post-content-body gh-content gh-canvas">
        {{content}}
        <div class="post-content-footer">
            {{#prev_post}}
                <a href="{{url}}">< {{title}}</a>
            {{/prev_post}}

            {{#next_post}}
                <a href="{{url}}">{{title}} ></a>
            {{/next_post}}
        </div>
    </div>

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

</article>
{{/post}}
